/**
 * TenUpTheme - Admin only styles
 * https://project-website.tld
 *
 */
// Custom blocks styles & overrides
.auto-grid-toggle {
	margin: 0 !important;
}
.breakpoints-panel {
	.components-tab-panel__tabs {
		display: flex;
		justify-content: space-evenly;

		.components-tab-panel__tabs-item {
			position: relative;
			padding: 0;
			margin: 12px 12px 0 12px;
			font-size: 14px;
			height: 35px;
			width: 35px;
			display: flex;
			justify-content: center;
  			margin-bottom: .5rem;

			svg {
				width: 16px;
				height: 16px;
			}

			&:first-child {
				padding-left: 0;
			}

			&--active {
				border-top: 2px solid var(--wp-admin-theme-color);
				/* &::before {
					content: "";
					position: absolute;
					top: 6px;
					left: 0;
					height: 2px;
					width: 1rem;
					background-color: var(--wp-admin-theme-color);
				} */
			}
		}
		.active-tab {
			color: #fff;
			background-color: var(--wp-admin-theme-color);
		}
	}

	.components-range-control {
		margin-bottom: 0;
	}
}

.responsive-range-control {

	&__value {
		font-size: 14px;
	}
}

.sidebar {
	* {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
			Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
			sans-serif;
	}
	.components-panel {
		&__body-toggle {
			font-size: 15px;
			&[aria-expanded="true"] {
				background-color: var(--color-bg-dark);
				margin-bottom: 7px;
			}
		}
	}

	&__subtitle {
		font-size: 15px;
		font-weight: 500;
		border-bottom: 1px solid var(--wp-admin-theme-color);
		padding-bottom: 3px;
		margin-bottom: 13px;
	}

	&__desc {
		font-size: 14px;
		margin-bottom: 1rem;
	}

	&__option-button {
		padding: 0 !important;

		&[aria-pressed="true"] {
			background-color: var(--wp-admin-theme-color);
		}
		svg {
			width: 29px;
			height: 29px;
		}
	}

	hr {
		margin: 23px 0;
		border-bottom: 2px solid var(--color-bg-dark);
	}

	// Image block
	&__img-number-control {
		input {
			border-right: 0;
		}
	}

	&__img-select-control {
	}
}

.components-form-toggle {
	display: flex;
}

.flexbox-control-group {

	.components-base-control__label {
		font-size: 12px;
		text-transform: uppercase;
		margin-bottom: 1em;
	}

	.components-button-group {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin-bottom: 1rem;

		.components-button {

			svg {
				width: 20px;
				height: 20px;
			}
		}
	}

	
}